.transactionstable{
    position: fixed; 
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
}

table {
    width: 100%;
    table-layout: fixed;

}

th, td{
    width: 250px;
    text-align: left;
    border-bottom: 1px solid blue;
  }

  tr:hover {background-color: lightcyan;}